@import "../../styles/abstract/variables.scss";

$header-height: 5rem;

.custom-navbar {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  transition: background-color .2s linear;

  &.opaque {
    background: $dark;
    &.light {
      background: $light;
    }

    &.dark {
      background: $dark;
    }
  }

  & .main-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    & .right-container, .left-container {
      flex: 1 50px;
      max-width: 33%;
    }

    & .right-container {
      text-align: right;
    }

    & .left-container {
      text-align: left;
    }
  }

}
