@import "../../../styles/abstract/variables";

.toggle {
  label {
    display: inline-block;
    @at-root.light#{&} {
      color: $dark;
    }

    @at-root.dark#{&} {
      color: $light;
    }
  }
}

.rotate-zoom-out {
  transition: all ease 1s;
  transform: rotate(0);

  &.fade {
    animation: 1s ease rotate-tilt forwards;
  }
}


@keyframes rotate-tilt {
  75% {
    transform: rotate(225deg) scale(1.2);
  }

  100% {
    transform: rotate(180deg) scale(1);
  }
}
