@import "../../styles/abstract/variables";

.person-card {
  margin: auto;
  padding: .5rem;
  max-width: 615px;
  h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: 76px;
    color: $semi-dark;

/*    @include media-breakpoint-up(md) {
      font-size: 51px;
    }

    @at-root .dark#{&} {
      @include media-breakpoint-up(lg) {
        text-shadow: 8px 6px 2px rgba(0,0,0,0.3);
      }
    }*/

  }

  .description-content {
    margin: 107px 0;
    color: $semi-dark;
    font-size: 18px;
  }

  .lang-list {
    margin: 5rem 0;
    ul {
      display: flex;
      justify-content: center;
      padding-left: 0;
      list-style-type: none;
      li {
        font-size: 3rem;
        padding: 0 2rem;
        display: inline;
        vertical-align: middle;
        a {
          text-decoration: none;
          color: $dark;
        }
      }
    }
  }
}
