@import "../../styles/abstract/variables";

.disclaimer {
  border-radius: 1rem;
  margin: auto;

  @include media-breakpoint-up(md) {
    width: 75%;
  }

  @include media-breakpoint-up(xxl) {
    width: 50%;
  }

  &-header {
    padding: .7rem 2rem;
  }

  &-body {
    padding: 1rem 2rem;
  }

  /* Theming section */

  @each $color, $value in $theme-colors {
    &.#{$color} {
      border-left: .5rem solid $value;
    }
  }

  &.light {
    background: $light;
    color: $dark;
    box-shadow: 4px 10px 3px rgba(0,0,0,0.4);
  }

  &.dark {
    background: $dark;
    color: $light;
    box-shadow: 4px 10px 3px rgba(0,0,0,0.2);
    border: 1px solid darken($dark, 5);
  }
}
