@import "~tailwindcss/screens.css";

$header-height: 5rem;

.custom-navbar {
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: background-color .3s linear;
  background-color: transparent;
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.right-container, .left-container {
  flex: 1 50px;
  max-width: 33%;
}

.right-container {
  text-align: right;
}

.left-container {
  text-align: left;
}

.nav-menu {
  display: none;

  @screen md {
    display: flex;
  }

  flex-flow: row;
  padding-inline-start: 0;
  justify-content: space-around;
}

.vertical {
  flex-flow: column;
}

.nav-menu-item {
  flex: 0 0 20%;
  list-style-type: none;
  text-align: center;

  a {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-decoration: none;
  }
}
