.full-width-project {
  background-image: url("../../media/images/bg_particle_white.webp");
  .project-image {
    aspect-ratio: 640 / 550;
    mask-image: url("../../media/graphics/project-image.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    background-size: cover;
    background-position: center;

    @supports not (aspect-ratio: 640/550) {
      padding-top: 100%;
    }
  }
}