@import "../../styles/abstract/variables";
@import "~tailwindcss/screens.css";

.experience {

  @screen sm  {
    width: 435px;
  }

  height: 300px;

  &.certificate {
    width: 260px;
    height: 135px;
  }

  .info-wrapper {
    max-width: 300px;
    align-self: center;
    z-index: 2;

    @at-root.certificate#{&} {
      max-width: 200px;
    }
  }
}
