@import "./styles/abstract/variables";
@import "./styles/abstract/typography";

@import "~tailwindcss/base";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";
@import "~tailwindcss/screens.css";
@import "~tailwindcss/variants.css";

html {
}

* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

body {
  @media(prefers-color-scheme: light) {
    background: url("../public/media/images/particles_bg.webp") repeat;
  }
  @media(prefers-color-scheme: dark) {
    background-image: url("../public/media/images/particles_dark.webp");
    background-repeat: repeat;
    @apply bg-zinc-900;
  }

  #root {
    overflow-x: hidden;
  }
}



.bg-particles {

}