@import "../../styles/abstract/variables";

.hero-banner {
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;

  // Responsive background image section

  // background image section end

  .right-container, .left-container {
    flex: 1;
    margin: auto;
    padding: 81px;
  }

  .left-container {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .right-container {

  }
}
