.container {
  @apply min-h-screen flex flex-col justify-center relative;
}

.content__grid {
  @apply max-w-screen-xxl sm:grid grid-cols-12 mx-auto z-[20];
}

.content__wrapper {
  @apply min-h-[60vh] md:min-h-fit flex flex-col justify-between col-span-6 xxl:col-span-5 p-6 xs:p-10 lg:p-20 self-center mx-auto text-white md:text-black;
}

.content__title {
  @apply text-4xl lg:text-5xl dark:text-blue font-bold uppercase;
}

.content__description {
  @apply dark:text-white mb-10 hidden sm:block
}

.content__cta {
  @apply mx-auto text-center;
}

.content__image {
  @apply col-span-6 hidden md:block relative;
}

.background {
  @apply absolute inset-0 z-[10] object-cover w-full h-full md:hidden object-left;
}

.image__mask {
  width: 100%;
  aspect-ratio: 1 / 1;
  mask-image: url("/media/graphics/banner-image.svg"); // /public is omitted.
  mask-repeat: no-repeat;
  mask-size: contain;
  background-size: cover;
  background-position: center;

  @supports not (aspect-ratio: 640/550) {
    padding-top: 100%;
  }

  img {
    @apply w-full h-full object-cover;
  }
}

